body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.header-pos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    width: 1500px;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a{
    text-decoration: none;
}
.hero-pos{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    width: 1500px;
}
.hero{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.information{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.information-title{
    text-align: center;
}

.card-info{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card{
    max-width: 150px;
    text-align: center;
}

.border{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 15px;
}

.quote{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-who{
    align-self: flex-end;
}

.call-action{
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.call-action > button{
    align-self: center;
}

.copyright{
    text-align: center;
    border: 2px solid black;
}