

*{
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
    font-size: 24px;
}

.header-pos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.hero-pos{
    display: flex;
    justify-content: space-between;
    width: 1500px;
}
.hero{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 200px;
}

.hero-info > h2{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-info > p {
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    padding: 5px 25px;
    border-radius: 8px;
    border-style: none;
    color: #F9FAF8;
    font-weight: 600;
}

.information{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.information-title{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.card-info{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card{
    max-width: 150px;
    text-align: center;
}

.border{
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 15px;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}

.quote > p {
    width: 800px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-who{
    margin-left: auto;
    font-weight: bold;
    font-size: 18px;
}

footer{
    padding: 50px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.call-action{
    display: flex;
    justify-content: center;
}

.call-action-container{
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    width: 1000px;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 20px 0;
}

.call-action-text > h4{
    font-size: 18px;
    margin-bottom: 0;
}
.call-action-container > button{
    align-self: center;
    border: #E5E7EB solid 2px;
}

.copyright{

    background-color: #1f2937;
    color: white;
    text-align: center;
}